<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="abhijit.osdm2">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <permission
        android:name="android.permission.BLUETOOTH"
        android:label="BLUETOOTH" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".UpdateSupportTeam"></activity>
        <activity android:name=".ui.login.SetNewPassword" />
        <activity android:name=".ImageViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="auth"
                    android:scheme="msal00000000-0000-0000-0000-000000000000" />
            </intent-filter>
        </activity>
        <activity android:name=".PdfDownload" />
        <activity android:name=".Menu7" />
        <!--
        <activity android:name=".manu7" />
        <activity android:name=".MonthlyReport" />
        -->
        <activity android:name=".Tenent_Update_Activity" />
        <activity android:name=".NoWhereActivity" />
        <activity android:name=".ShowWebViewPdf" />
        <activity android:name=".HelpActivity" />
        <!--
                <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"></activity>
        -->
        <!--
        <activity android:name=".Pdf_View_Activity" />
        <activity android:name=".Pdf_Create_Activity" />
        -->
        <activity android:name=".Edit_Renter_Profile" />
        <activity android:name=".Profile_Renter_Activity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
                android:name=".MainActivity"
            android:label="@string/app_name"
            -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ActivityItemCreator" />
        <activity
            android:name=".PdfMainActivity"
            android:label="Maintance Report Card"> <!-- <activity android:name=".OwnerListActivity" /> -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DBCheckActivty" />
        <activity android:name=".RenterListActivity" /> <!-- <activity android:name=".PdfDisplayActivity"></activity> -->
        <activity android:name=".OwnerListActivity" /> <!-- <Testing Phase++> -->
        <activity android:name=".RenterListActivity_Test" />
        <activity android:name=".Profile_MainActivity" /> <!-- <activity android:name=".ProfileActivity" /> -->
        <activity android:name=".Owner_Profile_Activity" />
        <activity android:name=".Profile_Owner_Activity" />
        <activity android:name=".Edit_Owner_Profile" />
        <activity android:name=".Enter_Maintance_cost" />
        <activity android:name=".SupportListActivity" />
    </application>

</manifest>